* {
  margin: 0;
  padding: 0;
  font-weight: 400;

  color: #3f3d56;
  font-family: "Roboto", sans-serif;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 37px;
  margin-bottom: 22px;
  font-weight: 700;
}
.label-field {
  font-size: 14px;
  font-weight: 400;
}
.box {
  display: flex;
  flex-direction: column;
}
.box-gender {
  font-size: 14px;
}
.register {
  font-size: 16px;
  font-weight: 500;
}
.label-terms {
  font-size: 14px;
}
